/app/Config/behat.yml
/app/Config/database.php
/app/Config/email.php
/app/Plugin
/app/Vendor
/app/tmp
/build/api
/build/cache.properties
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
/build/phpdox
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/dist
/tags
.DS_Store
*.swp
