git add -f app/Plugin/empty
git add -f app/Vendor
git add -f app/tmp/cache/models/empty
git add -f app/tmp/cache/persistent/empty
git add -f app/tmp/cache/views/empty
git add -f app/tmp/logs/empty
git add -f app/tmp/sessions/empty
git add -f app/tmp/tests/empty
/app/Config/behat.yml
/app/Config/database.php
/app/Config/core.php
/app/Plugin
/app/Vendor
/app/tmp
/build/api
/build/cache.properties
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
/build/phpdox
/lib/Cake/Console/Templates/skel/tmp/
/dist
/tags
.DS_Store
*.swp
